<h1>Front Page</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <p><%= cocktail.name %></p>
      <p><%= link_to 'Show', cocktail %></p>
    </li>
  <% end %>
</ul>

  <%= link_to "Add a cocktail", new_cocktail_path %>
